<div class="mdc-layout-grid header-container" style="padding:0">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
    <h2>Flyer Builder for Circlepix Developer Demo <span class="notes">(Try Dragging Still and Text inside the ruler.)</span></h2>
  </div>
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" style="">
    <a class="btn-setting" routerLink="." title="Settings" style="float:right; padding: 10px;">
      <i class="material-icons" style="font-size:48px; color:#999; ">settings</i>
    </a>

    <a class="btn-notification" routerLink="." title="Notifications" style="float:right; padding: 10px;">
      <i class="material-icons" style="font-size:48px; color:#999; ">notifications</i>
    </a>

  </div>
</div>